*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: #212121;
}

/* Helpers
----------------------------------------- */

.display-none {
  display: none;
}

main {
  max-width: 144rem;
  height: 80rem;
  background: #ff7979 url(images/bg-intro-desktop.png) no-repeat center center;
  margin: 0 auto;
  /* margin top da togliere alla fine per lo screenshot*/
  margin-top: 6.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  padding-inline: 16.5rem;
}
/* --------------TEXT----------------- */

.left-column {
  color: #fff;
}

h1 {
  font-size: 5rem;
  line-height: 1.1;
  letter-spacing: -0.5px;
  margin-bottom: 3rem;
}
.left-column p {
  font-weight: 500;
  line-height: 1.6;
  font-size: 1.6rem;
}

/* --------------FORM----------------- */

.cta {
  width: 100%;
  padding: 1.8rem 1.5rem;
  background-color: #5e54a4;
  border: none;
  border-radius: 8px;
  margin-bottom: 2.5rem;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.3px;
  font-family: inherit;
  cursor: pointer;
}
.cta:hover {
  background-color: #6559b1;
}
.cta:active {
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.15);
}
.cta span {
  font-weight: 600;
}

.form-container {
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 4rem 4rem 4.5rem 4rem;
  border-radius: 8px;
}
.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
input {
  font-family: inherit;
  font-size: 1.4rem;
  letter-spacing: 0.25px;
  font-weight: 600;
  width: 100%;
  padding: 16px 32px;
  border: 1px solid #dedede;
  border-radius: 6px;
  /* outline rimuove il bordo dei browser al focus */
  outline: none;
  color: #3d3b48;
}

input:focus {
  color: #3d3b48;
  border: 1px solid rgba(204, 204, 204, 0);
  box-shadow: inset 0 0 0 1px #5e54a4;
}

input[type="submit"] {
  box-shadow: inset 0px -4px 0px #48af81;
  border: none;
  background-color: #38cc8c;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  background-image: none;
}
input[type="submit"]:hover {
  background-color: #39d18f;
}
input[type="submit"]:active {
  box-shadow: inset 0px -1px 0px #48af81;
}
.agreement {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1.2rem;
  color: #bab7d4;
}

.agreement span {
  color: #ff7979;
  font-weight: 700;
  cursor: pointer;
}

/* error message + icon */
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}
.red-border {
  border: 2px solid #ff7979;
}

.error-icon {
  position: absolute;
  right: 2.5rem;
  width: 2.4rem;
  height: 2.4rem;
}

.error-message {
  color: #ff7979;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 500;
  text-align: right;
  margin-top: -1.5rem;
}

/* media queries
----------------------------------------- */
/* 1200px */
@media (max-width: 75em) {
  main {
    padding-inline: 8rem;
  }
  h1 {
    font-size: 4.6rem;
  }
}

/* 1024px */
@media (max-width: 64em) {
  main {
    padding-inline: 4rem;
  }
  .form-container {
    padding: 2.4rem;
  }
  h1 {
    font-size: 3.6rem;
  }
}

/* 704 */
@media (max-width: 44em) {
  main {
    grid-template-columns: 1fr;
    background: #ff7979 url(images/bg-intro-mobile.png) no-repeat top center;
    padding-inline: 2.4rem;
    padding-block: 9rem;
    height: auto;
    gap: 6rem;
  }
  .left-column {
    text-align: center;
  }
  .left-column p {
    max-width: 45rem;
    margin: 0 auto;
  }
  .right-column {
    justify-self: center;
    width: min(500px, 100%);
  }
  input {
    padding: 16px;
  }
  h1 {
    font-size: 2.8rem;
    line-height: 1.3;
  }
  .cta {
    padding: 1.8rem 5rem;
  }
}
